<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title 資料申請</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <!-- font awsome css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
</head>
<body>

    <div class="back-to-top"></div>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 fixed-top" style="background-color: #1b6ec2;">
        <div class="container">
            @Html.ActionLink("資料申請", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })


            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto pt-3 pt-lg-0">
                    <li style="display:flex;justify-content: center;align-items: center">
                        <img src="~/img/Icon_home.png" alt="" style="height: 1rem; filter: invert(100%)">
                        <a href="@Url.Action("Index", "Home")" class="nav-link text-light ">首頁</a>
                    </li>
                    <li style="display:flex;justify-content: center;align-items: center">
                        <img src="~/img/Icon_home.png" alt="" style="height: 1rem; filter: invert(100%)">
                        <a href="@Url.Action("Form", "Form")" class="nav-link text-light ">申請/下載表單</a>
                    </li>
                </ul>
            </div>
        </div> <!-- .container -->
    </nav> <!-- .navbar -->




    <div class="container body-content" style="margin-top: 60px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 中心</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
